.main__title {
    text-align: center;
    margin-top: 0.2em;
}

.offices-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3.5em 0;

    text-align: center;
}
.office {
    flex-basis: 28%;
    padding: 1em 0;
    margin-bottom: 1em;

    border: 3px solid var(--green);
    box-sizing: border-box;

    transition: border 1.5s;
}
.office__address {
    font-size: 1.3em;
}
.office__contacts {
    font-size: 1.25em;
}
.office__contact {
    margin-top: 0.2em;
    display: block;
}
.office__line {
    color: var(--green);
    transition: color 1s;
}
